In [40]:
# 导入必要的库
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
# from sklearn.linear_model import LogisticRegression
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import accuracy_score

# 读取数据

In [2]:
def unique_value(df: pd.DataFrame) -> np.array:
    df_specific = df.drop(list(df.columns[:2]), axis=1, inplace=False)
    temp = df_specific.to_numpy()
    return np.unique(temp)

In [3]:
train_df = pd.read_csv("../dataset/recipes_train.csv")
test_df = pd.read_csv("../dataset/recipes_test.csv")

In [4]:
train_df.shape, test_df.shape

((1469, 385), (979, 384))

In [5]:
train_df.head()

,id,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,1,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,chinese,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,chinese,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,korean,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,thai,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
test_df.head()

,id,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# 查看数据集内容unique情况（理论上test_df应该去除第一列即可）
unique_value(train_df), unique_value(test_df)

(array([0, 1], dtype=int64), array([0, 1], dtype=int64))

# 数据可视化分析

In [8]:
train_df.describe()

,id,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
count,1469.000000,1469.000000,1469.0,1469.000000,1469.000000,1469.000000,1469.0,1469.000000,1469.0,1469.000000,...,1469.0,1469.000000,1469.000000,1469.000000,1469.000000,1469.0,1469.000000,1469.000000,1469.000000,1469.000000
mean,735.000000,0.019061,0.0,0.000681,0.002723,0.016338,0.0,0.006127,0.0,0.002042,...,0.0,0.001361,0.019741,0.005446,0.055820,0.0,0.002723,0.010892,0.055820,0.006807
std,424.208086,0.136785,0.0,0.026091,0.052128,0.126814,0.0,0.078059,0.0,0.045160,...,0.0,0.036886,0.139157,0.073620,0.229653,0.0,0.052128,0.103829,0.229653,0.082253
min,1.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,368.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
50%,735.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
75%,1102.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
max,1469.000000,1.000000,0.0,1.000000,1.000000,1.000000,0.0,1.000000,0.0,1.000000,...,0.0,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000

## 训练集特征稀疏性可视化分析 + 食材分布可视化分析

In [120]:
food_index = {}
food_count = {} # key为类, value为对应类的出现次数
loc_index = {} # key为类, value为其所有数据的索引
for _, group in train_df.groupby(by='cuisine'):
    # name, group = specific data -> DataFrame
    name = group['cuisine'].head(1).item()
    group.drop(["id", 'cuisine'], axis=1, inplace=True)
    loc_index[name] = group.index
    food_index[name] = group.sum().to_dict()
    food_count[name] = len(group)
food_index.keys() # key为类, value为类中各元素总和 dict: (column:sum_value)

dict_keys(['chinese', 'indian', 'japanese', 'korean', 'thai'])

In [122]:
cuisine_count = list(food_index.keys())
plt.figure(figsize=(10, 25), dpi=250)
for i in range(len(cuisine_count)):
    cuisine = list(food_index.keys())[i]
    plt.subplot(len(cuisine_count), 1, i+1)
    # 对所有地方的美食的使用材料总数进行可视化
    plt.bar(range(len(food_index[cuisine].keys())), food_index[cuisine].values())
    plt.title(cuisine)

# 防止重叠
plt.tight_layout()
# 绘制
plt.savefig("./Ingredient analysis/ingredients_analysis_total.jpg")
# plt.show()
plt.close()

In [123]:
# 找出标签数量top3的location, 之后进行以上画图操作即可
top3_location = [item[0] for item in sorted(food_count.items(), key=lambda item : item[1], reverse=True)[:3]]

In [124]:
j = 1
for loc in top3_location:
    plt.figure(figsize=(10, 5), dpi=200)
    plt.bar(range(len(food_index[loc].keys())), food_index[loc].values())
    plt.title(loc)
    plt.xlabel('ingredients')
    plt.ylabel('sum_values')
    plt.savefig("./Ingredient analysis/ingredients_analysis_{loc}_top{j}.jpg".format(loc=loc, j=j))
    j += 1
    plt.close()

## 标签与特征的相关性可视化分析

In [36]:
from sklearn.decomposition import PCA
features_names = train_df.columns[2::]
labels = train_df.loc[:, 'cuisine']

### 原始特征之间相关程度

In [118]:
for cuisine in cuisine_count:
    # 只取有值的feature
    cur_features_names = [item[0] for item in food_index[cuisine].items() if item[1]!=0]
    cuisine_features = train_df.loc[loc_index[cuisine], cur_features_names]
    corr_matrix = cuisine_features.corr()
    plt.figure(figsize=(10, 10), dpi=100)
    sns.heatmap(corr_matrix, cmap='coolwarm', square=True, fmt='.2f')
    plt.title('{} Features Correlation Map'.format(cuisine.title()))
    plt.savefig('./Features Correlation Map/{} Features Correlation Map'.format(cuisine.title()))
    plt.close()

### PCA

In [126]:
pca = PCA(n_components=2)
reduced_features = pca.fit_transform(train_df.loc[:, features_names])
plt.figure(figsize=(10, 10), dpi=100)
sns.scatterplot(x=reduced_features[:, 0], y=reduced_features[:, 1], hue=labels)
plt.xlabel('Principal Component 1')
plt.ylabel('Principal Component 2')
plt.savefig("./PCA/2 Principal Components.jpg")
plt.close()

#### 主成分分析获得的主成分与原始特征（前100）的关联程度

In [128]:
# 绘制热力图
components_coefficients = pca.components_
plt.figure(figsize=(20, 10), dpi=200)
sns.heatmap(components_coefficients[:, :100], cmap='coolwarm', \
    xticklabels=features_names[:100], yticklabels=['Principal Component 1', 'Principal Component 2'])
plt.xlabel('Original Features(first 100)')
plt.ylabel('Components')
plt.title('Correlation between Principal Components and Original Features(first 100)')
plt.savefig("./PCA/Heatmap Correlation between Principal Components and Original Features(first 100).jpg")
plt.close()

### 决策树
有时间再做

In [104]:
from sklearn.tree import DecisionTreeClassifier, plot_tree